<p>
  table-comp works!
</p>


<br>
<div> String </div>
<div> {{ data.str | uppercase }} </div>
<div> {{ data.str | lowercase }} </div>

<div> Start from 3: {{ data.str | slice:3 }} </div> 
<div> Start from 3 end 8: {{ data.str | slice:3:8 }} </div> 


<br> <br>
<div> Date </div>
<div> {{ data.date | date }} </div>
<div> dd/MM/yyyy {{ data.date | date:"dd/MM/yyyy" }} </div>
<div> MM/dd/yyyy {{ data.date | date:"MM/dd/yyyy" }} </div>


<br> <br>
<div> Number </div>
<div> percent {{ data.percent | percent }} </div>

<br>
<div> DecimalPipe</div>
<div> {{ data.numb | number:'3.1-2'}}</div>
<div> {{ data.numb | number:'4.4-5'}}</div>


<br>
<div> Currency </div>
<div> Default {{ data.money | currency }} </div>

<div>Code {{ data.money | currency:'EUR':'code'}}</div> 

<div>Symbol {{ data.money | currency:'EUR':'symbol'}}</div>
<div>Symbol {{ data.money | currency:'EUR':'symbol':'1.1-1'}}</div>

<div>My own text - {{ data.money | currency:'EUR':'special price: '}}</div>


<br> <br>
<div> Couple pipes </div>
<div> {{ data.str | slice:5 | uppercase }} </div>

