<p>
  table-comp works!
</p>


<div> Date </div>
<div> {{ data.date | date }} </div>
<div> {{ data.date | date:"dd/MM/yyyy" }} </div>
<div> {{ data.date | date:"MM/dd/yyyy" }} </div>


<br>
<div> Number </div>
<div> {{ data.numb | percent }} </div>

<!-- by default it show USD currency -->
<div> {{ data.numb | currency }} </div>

<br>
<div> DecimalPipe</div>
<div> {{ data.bigNumb | number:'3.1-2'}}</div>
<div> {{ data.bigNumb | number:'4.4-5'}}</div>


<br>
<div> Currency </div>
<div>{{ data.money | currency:'EUR':'code'}}</div>
<div>{{ data.money | currency:'EUR':'symbol-narrow'}}</div>
<div>{{ data.money | currency:'EUR':'symbol':'1.1-1'}}</div>
<div>{{ data.money | currency:'EUR':'symbol-narrow':'1.1-1'}}</div>
<div>{{ data.money | currency:'EUR':'my own text: special price'}}</div>

<br> <br>
<div> String </div>
<div> {{ data.str | uppercase }} </div>
<div> {{ data.str | lowercase }} </div>

<!-- first parameter start from -->
<div> {{ data.str | slice:3 }} </div> 
<!-- second parameter end -->
<div> {{ data.str | slice:3:8 }} </div> 


<br>
<div> Couple pipes </div>
<div> {{ data.str | slice:5 | uppercase }} </div>

